services:
  - type: web
    name: rideapp-logger
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /
        destination: /index.html
      - type: rewrite
        source: /datalogger.html
        destination: /datalogger.html
